h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: hsl(60, 100%, 50%);
}
p::selection{
    color: rgb(0, 255, 34);
    background-color: hsl(0, 0%, 66%);
}
#apple::after{
    content: "🍎";
}
#banana::after{
    content: "🍌";
}
#orange::after{
    content: "🍊";
}
#fruit li::marker{
    content: "✔";
    color: greenyellow;
    font-size: 2.2em;
}